#Ceci fait en sorte que personne puis lire le fichier sur le web.

<IfModule mod_headers.c>
Header always set X-XSS-Protection "1; mode=block"
</IfModule>

<Files protectionantiplagiat.cnx>
order allow,deny
deny from all
</files>
